@import url('//db.onlinewebfonts.com/c/623c7118249e082fe87a78e08506cb4b?family=Segoe+UI');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color: white;
    width: 100%;
}

/* MENU */

.menu{
    width: 100%;
    max-width: 2500px;
    height: 80px;
    align-items: center;
    box-shadow: 2px 2px 0px rgb(167, 163, 163, 0.3);
    margin: 0 auto;
}

.nav{
    margin: 0 auto;
    width: 90%;
    height: 80px;
    display: flex;
    max-width: 2500px;
    justify-content: space-around;
    align-items:center;

}

/* Aqui criamos a Logo, Redimensionamos e alinhamos */


.logo img{
    width:78px;
    height: 27px;
}

/* Aqui é a área de pesquisa */
.search{
    width: 225px;
    height: 23px;
    display: flex;
    align-items:center;
    justify-content: center;
    border: solid 1px #AFAFAF;
    border-radius: 3px;

}
.search-input{
    width: 80px;
    display: flex;
    padding: 0px 5px;
    align-items:center;
    font-size: 13px;
    text-align: center;
    justify-content: center;
    color: #AFAFAF;
    font-family:'Segoe UI',sans-serif;
    border: none;
}

.submit-lupa{
    display: flex;
    border: none;
    color: #AFAFAF;
    align-items: center;
    justify-content: center;
}

/* Aqui é o Menu com as opções */
.menu-btn{
    justify-content: space-between;
    display: flex;
    align-items: center;
   
}

.menu-btn i{
    padding: 0px 10px;
    font-size: 24px 25px;
}
.perfil{
    width: 34px;
    height: 34px;
    border-radius: 100%;
    border: 2px #2686CC solid;
}
/* Aqui é a imagem de perfil */
.perfil img{ 
    display: flex;
    width: 32px;
    height: 32px;
}


/* EDIÇÃO DE PERFIL */


.infos{
    margin-top:10px;
    height:600px;
    width:100%;
    display: flex;
}

.container{
    width:80%;
    height:600px;
    display:flex;
    max-width:1400px;
    margin:0 auto;
   
}


.title{
    display: flex;
    width: 30%;
    height: 50px;
    padding-left: 5px;
    align-items: center;
    font-family: 'Segoe UI',sans-serif;
    color:#000;
    font-size: 18px;
    border-left:solid 2px black;
    font-style: initial;
}

/* Informações de Perfil */

.opcoes{
    width:70%;
    height: 60px;
    
    
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px #2686CC solid;
}

.perfilFoto img{
    display: flex;
    width: 48px;
    height: 48px;

}

.perfilFoto{
    font-family: 'Segoe UI',sans-serif;
    display: flex;
    padding: 10px 20px;
    
}

.perfilFoto p{
    font-size: 18px;
}

.btn-img{
    color: #2686CC;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.textFoto{
    padding-left: 10px;
    
}

.btn-img:hover{
    text-decoration: underline;
}
.edicoes{
    width:70%;
    height: 400px;
    font-family: 'Segoe UI', sans-serif;
    
}

.name, .email, .nick{
    display: flex;
    padding-top: 50px;
}

.name h2, .email h2 , .nick h2{
    font-size: 15px;
    padding-right: 10px;

}

.name p, .nick p, .email p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color:#909090;

}

.text input{
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 2px;
    width: 354px;
    height: 30px;
}

.text h3{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color:#909090;

    padding-top: 15px;
}

.nick{
    position: relative;
    right: 22px;
}

.nick h2{
    text-indent: -50px;
}

.botao{
    display: flex;
    align-items: center;
    width: 600px;
    height: 50px;
    justify-content: space-around;
    font-family: 'Segoe UI',sans-serif;

}

.btn{
   text-decoration: none;
   background-color: #2686CC;
   color: #FFFFFF;
   padding: 8px 15px;
   border-radius: 4px;
   
}

.btn:hover{
    background-color: #1c6396;
}

.desative{
    color: #2686CC;
    text-decoration: none;
    font-size: 12px;
}

.desative:hover{
    text-decoration: underline;
}
