*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #f2f2f2;
}

#conteudo {
    margin-top:150px;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.centraform {
    background-color: white;
  width:342px;
  height: 380px;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;  

}
.centralizarlogo {
 margin-bottom: 3em;
 display: flex;
 justify-content: space-around;
}
.centralizarlogo img{
    height: 50%;
    width: 50%;
}
.erro{
    color: red;
    padding-left: 45px;
}

.input {
   
    width: 267px;
    height: 35px;
    margin-left: 38px;
    margin-top: 5px;
    background-color: #fafafa;
    border:1px solid #dcdcdc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    color: #afafaf;
    padding-left: 10px;
}
.input:hover
{
    border:1px solid lightgray;
}


.botao {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13;
    width: 267px;
    height: 35px;
    background-color:#0095f6;
    border-radius: 6px;
    padding: 9px 50px;
    color: white;
    margin-left: 38px;
    margin-top: 9px;
    border: none;
}

.centralizarlink {

    width: 342px;
    height: 75px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.centralizarlink a{
    color: #2686cc;
    text-decoration: none;
}
.refref {
    margin-left: 60px;
}

.benditoou {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.esqueciasenha {
    margin-left: 120px;
    margin-top: 24px;
    color: #2686cc;
}

.esqueciasenha a{
    color: #2686cc;
    text-decoration: none;
}

.esqueciasenha:hover{
    text-decoration: underline;
}

/* .hr2 {
    border-top: 50px;
    border-top: medium double #CCC;
    height: 1px;
    overflow: visible;
    padding: 0;
    color: rgb(95, 48, 48);
    text-align: center;
  }
  
  .hr2::after {
    content: "OU";
    display: inline-block;
    position: relative;
    top: 30px;
    font-size: 1.4em;
    padding: 0 0.3em;
    background: white;
  } */

  .testehr{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 30px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .testehr hr{
      width: 100px;
  }

.centralizarcadastrese {
    display: flex;
    justify-content:center;
    align-items: center;
}
.centrafoot {
    display: flex;
    justify-content: center;
    align-items: flex-end;
 
}
.frasenocentro {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.store {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cad:hover{
    text-decoration: underline;
}